node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
app/auth/*
README.local.md
questiondump.sql
questiondump.text
app/notes.txt
firebase.json
firebase_admin.base64
app/.DS_Store
